---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";

import {frontend} from "../data/frontend.js"
import { state } from "../data/state";
import {backend} from '../data/backend'
import { data } from "../data/data";
import 	{testing} from "../data/testing";
import { database } from "../data/database";
import { tools} from "../data/tools";
import HTML from "../components/icons/html.astro"
import CSS from "../components/icons/css.astro"
import Boostrap from "../components/icons/boostrap.astro"
import Javascript from "../components/icons/javascript.astro"
import React from "../components/icons/react.astro"
import Tailwind from "../components/icons/tailwind.astro"
import Next from "../components/icons/next.astro"
import Typescript from "../components/icons/typescript.astro"
import Redux from "../components/icons/redux.astro"
import Zustand from "../components/icons/zustand.astro"
import Node from "../components/icons/node.astro"
import Python from "../components/icons/python.astro"
import PHP from "../components/icons/php.astro"
import Java from "../components/icons/java.astro"
import R from "../components/icons/r.astro"
import Pandas from "../components/icons/pandas.astro"
import Numpy from "../components/icons/numpy.astro"
import Scikitlearn from "../components/icons/scikitlearn.astro"
import Jest from "../components/icons/jest.astro"
import Playwright from "../components/icons/playwright.astro"
import Puppeteer from "../components/icons/puppeteer.astro"
import Cypress from "../components/icons/cypress.astro"
import Postman from "../components/icons/postman.astro"
import Selenium from "../components/icons/selenium.astro"
import Postgres from "../components/icons/postgres.astro"
import Firebase from "../components/icons/firebase.astro"
import SQL from "../components/icons/sql.astro"
import Git from "../components/icons/git.astro"
import Github from "../components/icons/github.astro"
import Figma from "../components/icons/figma.astro"



const skills:Record<string, any> = {
	HTML,
	CSS,
	Boostrap,
	Javascript,
	React,
	Tailwind,
	Next,
	Typescript,
	Redux,
	Zustand,
	Node,
	Python,
	PHP,
	Java,
	R,
	Pandas,
	Numpy,
	Scikitlearn,
	Jest,
	Playwright,
	Puppeteer,
	Cypress,
	Postman,
	Selenium,
	Postgres,
	Firebase,
	SQL,
	Git,
	Github,
	Figma
}
	

---

<Layout title="Skills">
    <main class="min-h-screen w-full flex flex-col  items-center">
		<Navbar after='contact' before='projects' actual='skills'/>
		<section class="max-w-screen-md my-4 grid md:grid-cols-2 justify-center gap-2">
			<article class="w-full p-3 bg-proyectCard rounded-md" >
				<h3 class="text-lg">Frontend</h3>
				<ul class="grid grid-cols-4 gap-2">
					{
						frontend.map(item=>{
							const Icon = skills[item]
							return(
							<li class=" flex flex-col justify-center items-center">
								{Icon &&<Icon class="w-8 h-8"/>}
								<span class="text-black text-md">{item}</span>
							</li>
							)
						})
					}
				</ul>
				<h3 class="mt-4 text-lg">State Managment</h3>
				<ul  class="grid grid-cols-4 gap-2">
					{
						state.map(item=>{
							const Icon = skills[item]
							return(
							<li class=" flex flex-col justify-center items-center">
								{Icon &&<Icon class="w-8 h-8"/>}
								<span class="text-black text-md">{item}</span>
							</li>
							)
						})
					}
				</ul>
			</article>
			<article class="w-full p-3 bg-proyectCard rounded-md" >
				<h3 class="text-lg">Backend</h3>
				<ul class="grid grid-cols-4 gap-2">
					{
						backend.map(item=>{
							const Icon = skills[item]
							return(
							<li class=" flex flex-col justify-center items-center">
								{Icon &&<Icon class="w-8 h-8"/>}
								<span class="text-black text-md">{item}</span>
							</li>
							)
						})
					}
				</ul>
				<h3 class="mt-4 text-lg">Data Science</h3>
				<ul  class="grid grid-cols-4 items-center gap-2">
					{
						data.map(item=>{
							const Icon = skills[item]
							return(
							<li class=" flex flex-col justify-center items-center">
								{Icon &&<Icon class="w-8 h-8"/>}
								<span class="text-black text-md">{item}</span>
							</li>
							)
						})
					}
				</ul>
			</article>
			<article class="w-full p-3 bg-proyectCard rounded-md" >
				<h3 class="text-lg">Testing</h3>
				<ul class="grid grid-cols-4 ">
					{
						testing.map(item=>{
							const Icon = skills[item]
							return(
							<li class=" flex flex-col justify-center items-center">
								{Icon &&<Icon class="w-8 h-8"/>}
								<span class="text-black text-md">{item}</span>
							</li>
							)
						})
					}
				</ul>
				
			</article>
			<article class="w-full p-3 bg-proyectCard rounded-md" >
				<h3 class="text-lg">Database</h3>
				<ul class="grid grid-cols-4 gap-2">
					{
						database.map(item=>{
							const Icon = skills[item]
							return(
							<li class=" flex flex-col justify-center items-center">
								{Icon &&<Icon class="w-8 h-8"/>}
								<span class="text-black text-md">{item}</span>
							</li>
							)
						})
					}
				</ul>
				<h3 class="mt-4 text-lg">Another Tools</h3>
				<ul  class="grid grid-cols-4 gap-2">
					{
						tools.map(item=>{
							const Icon = skills[item]
							return(
							<li class=" flex flex-col justify-center items-center">
								{Icon &&<Icon class="w-8 h-8"/>}
								<span class="text-black text-md">{item}</span>
							</li>
							)
						})
					}
				</ul>
			</article>
		</section>
	</main>
</Layout>
