---
import Github from './icons/github.astro';
interface Props {
	title: string;
	body: string;
	github:string;
	href: string;
	imgLink:string;
	technologies:string[];
}

const { href, title, body, github, technologies, imgLink } = Astro.props;
---

<li class="w-72 h-[528px] p-4 rounded-md bg-proyectCard flex flex-col justify-center">
	<a class="w-72 h-[528px]" href={href}>
		<picture>
			<img src={imgLink} alt={title} class="w-62 h-52 rounded-md">
		</picture>
		<div class="flex flex-col justify-center">
			<div class="flex justify-between items-center">
				<h2 class="font-normal text-xl">{title}</h2>
				<a class="text-md text-principalCard hover:underline" href={github}> Github link <Github/> </a>
			</div>
			<p >
				{body}
			</p>
			<div>
				<h4>Technologies</h4>
				<p class="flex gap-1">
					{
						technologies.map(item=>
						<span class="p-1 text-white text-md bg-principalCard">
							{item}
						</span>
						)
					}
				</p>
			</div>
		</div>
	</a>
</li>

